<div class="jumbotron jumbotron-fluid header">
  <div class="container">
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>More content here</h2>
    </div>
    <div class="col-md-4">
      <%= image_tag 'ice_cream.png' %>
    </div>
  </div>
</div>